<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ data.question }}</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <h1>{{ data.question }}</h1>
    <form action="/poll" class="" style="display: flex; flex-direction: column">
      {% for field in data.fields %}
      <div><input type="radio" name="field" value="{{field}}" /> {{field}}</div>
      {% endfor %}

      <input type="submit" style="width: 10rem" value="Vote" />
    </form>
  </body>
</html>
